CI_ENVIRONMENT = development
app.baseURL = 'http://localhost:8080/'

database.default.hostname = localhost
database.default.database = charj
database.default.username = root
database.default.password = 
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306

BREVO_API_KEY = 'replace_with_brevo_api_key'
BREVO_SENDER_EMAIL = 'hello@charj.in'
BREVO_SENDER_NAME = 'Charj.in'
ADMIN_EMAIL = 'admin@charj.in'
